/*RESET*/
/*Reiniciar margenes/padding y hace que el box-sizing incluya bordes/bordes padding*/
*{
    margin: 0,0;
    padding: 0;
    box-sizing: border-box;
}

/*fuentes por defecto de la pagina*/
body {
    font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER CON OVERLAY */
/* Cabecera con imagen de fondo y superposición oscura mediante gradiente*/
header {
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.85)),
    url("../img/roblox.avif") center/cover fixed; /* imagen centrada, cover y fija*/
    color: #fff;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

/*------NAV-----*/
/*Barra de navegación semitransparente y sticky (queda fija al hacer scroll*/
nav {
    background: rgba(0,0,0,.5);
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1000; /* por encima de otros elementos */
    box-shadow: 0 4px 20px rgba(0,216,255,.2);
}

/*Contenedor de enlaces: centrado, layout horizontal y espacio entre items */
nav ul {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
}

/* Primer elemento (logo/título) se separa a la izquierda */
nav ul li:first-child {
    margin-right: auto;
}

/* Estilo para el titulo/logo en el nav */
nav ul li:first-child h3 {
    color: #00d8ff;
    font-size: 2.2rem;
    font-weight: 900;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.15rem;
    position: relative; /* necesario para el pseudo-elemnto ::before*/
}

/* Línea animada bajo el link usando transform scalex */
nav a::before {
    content: "";
    position:
}